<div class="flex flex-col gap-8 p-4">
  <div class="flex justify-between">
    <button
      mat-icon-button
      [attr.aria-label]="'button.close' | translate"
      (click)="this.close.emit()"
    >
      <span class="material-icons">close</span>
    </button>
    <button mat-flat-button>
      {{ "button.newPost" | translate }}
    </button>
  </div>
  <div class="flex gap-4">
    <div class="w-20 h-20 rounded-full bg-catspace-brown"></div>
    @if (user(); as currentUser) {
    <div>
      <p class="subtitle-1">{{ currentUser.name }}</p>
      <p>&#64;{{ currentUser.handle }}</p>
      <p class="text-body-2 text-catspace-orange">{{ currentUser.email }}</p>
      <button mat-stroked-button class="narrow mt-2">
        {{ "button.editProfile" | translate }}
      </button>
    </div>
    }
  </div>
  <div class="pl-20 mt-8">
    <ul class="flex flex-col gap-8">
      <li class="menu-item">
        <span class="material-symbols-outlined">person</span>
        <p class="subtitle-2">{{ "menu.myPage" | translate }}</p>
      </li>
      <li class="menu-item">
        <span class="material-symbols-outlined">star</span>
        <p class="subtitle-2">{{ "menu.following" | translate }}</p>
      </li>
      <li class="menu-item">
        <span class="material-symbols-outlined">favorite</span>
        <p class="subtitle-2">{{ "menu.favorites" | translate }}</p>
      </li>
      <li class="menu-item">
        <span class="material-symbols-outlined">notifications</span>
        <p class="subtitle-2">{{ "menu.notifications" | translate }}</p>
      </li>
      <li class="menu-item">
        <span class="material-symbols-outlined">settings</span>
        <p class="subtitle-2">{{ "menu.settings" | translate }}</p>
      </li>
      <li class="menu-item">
        <span class="material-symbols-outlined">help</span>
        <p class="subtitle-2">{{ "menu.help" | translate }}</p>
      </li>
      <li class="menu-item">
        <span class="material-symbols-outlined">logout</span>
        <p class="subtitle-2">{{ "menu.logout" | translate }}</p>
      </li>
    </ul>
  </div>
</div>
