<div
  class="flex flex-col justify-between shadow-card rounded p-3 h-[335px] w-[275px]"
>
  @defer (on viewport) {
  <img
    [src]="profile.image"
    alt="{{ profile.name }}"
    class="object-cover w-full h-[150px] rounded"
    alt="cat"
  />
  }@placeholder {
  <div class="bg-catspace-grey w-full rounded h-[150px]"></div>
  }
  <div>
    <p class="subtitle-1 line-clamp-1">{{ profile.name }}</p>
    <p class="text-body-1">&#64;{{ profile.handle }}</p>
    <p class="text-body-1">
      {{ profile.followers }} {{ "common.followers" | translate }}
    </p>
  </div>
  <div class="text-body-2 text-catspace-orange py-2 line-clamp-2">
    {{ profile.tags.join(" ") }}
  </div>
  <div class="flex justify-between gap-2">
    <mat-button-toggle
      class="basis-1/2 card-button"
      [checked]="profile.following"
      (click)="followUser()"
      (keydown)="handleKeyboardEvent($event)"
    >
      {{
        (profile.following ? "button.unfollow" : "button.follow") | translate
      }}
    </mat-button-toggle>

    <button
      mat-stroked-button
      class="basis-1/2 card-button"
      (click)="view.emit(profile.id)"
    >
      {{ "button.viewProfile" | translate }}
    </button>
  </div>
</div>
