@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #320f08,
    20: #4d1a11,
    25: #5a1e15,
    30: #68241b,
    35: #752921,
    40: #eb9477,
    50: #f0a78e,
    60: #f4bba4,
    70: #f8cfbb,
    80: #fce3d2,
    90: #ffe7dd,
    95: #fff1eb,
    98: #fff9f6,
    99: #fffcfb,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #301611,
    20: #4a221a,
    25: #55271e,
    30: #612c22,
    35: #6d3127,
    40: #c67e66,
    50: #d39484,
    60: #dfaa9e,
    70: #ecc0b8,
    80: #f8d5d2,
    90: #fde3e0,
    95: #fff0ee,
    98: #fff8f7,
    99: #fffcfb,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #241d19,
    20: #3a2e29,
    25: #453834,
    30: #51423f,
    35: #5d4b4a,
    40: #baafa8,
    50: #c8bdb8,
    60: #d6cac5,
    70: #e4d8d3,
    80: #f1e5e1,
    90: #fbeeea,
    95: #fef6f4,
    98: #fffaf8,
    99: #fffcfb,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #211a18,
    20: #372f2c,
    25: #423937,
    30: #4e4542,
    35: #5a504d,
    40: #675c59,
    50: #807571,
    60: #9a8e8b,
    70: #b6a8a5,
    80: #d1c4c0,
    90: #eedfdb,
    95: #fdeee9,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
    4: #130d0b,
    6: #191210,
    12: #251e1c,
    17: #302826,
    22: #3b3330,
    24: #403735,
    87: #e6d7d3,
    92: #f4e5e1,
    94: #ffffff,
    96: #fff1ed,
  ),
  neutral-variant: (
    0: #000000,
    10: #251814,
    20: #3c2d28,
    25: #483833,
    30: #54433e,
    35: #604f49,
    40: #6d5a55,
    50: #86736d,
    60: #a18c86,
    70: #bda6a0,
    80: #d9c1ba,
    90: #f6ddd6,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$theme: mat.define-theme(
  (
    color: (
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      brand-family: "Open Sans, sans-serif",
      plain-family: "Open Sans, sans-serif",
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

@include mat.elevation-classes();
@include mat.app-background();

html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-themes($theme);
}
