<div class="flex flex-col justify-center gap-4 p-8 w-full">
  <h2 class="text-center">{{ "button.signUp" | translate }}</h2>
  <div>
    <form [formGroup]="form">
      @if(step === 1) {
      <div class="flex flex-col w-full gap-1">
        <p class="subtitle-2 text-center pb-4">
          {{ "form.signUp.step1" | translate }}
        </p>
        <mat-form-field appearance="outline">
          <mat-label>
            {{ "form.signUp.name" | translate }}
          </mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            placeholder="Enter your profile name"
          />
          @if(form.get('name')?.hasError('required') && form.get('name')?.dirty)
          {
          <mat-error>{{
            "form.error.required"
              | translate : { field: ("form.signUp.name" | translate) }
          }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            {{ "form.signUp.handle" | translate }}
          </mat-label>
          <input
            #handleInput
            matInput
            formControlName="handle"
            type="text"
            placeholder="Enter a handle"
            class="text-left"
          />
          <span matTextPrefix class="text-gray-400">&#64;&nbsp;</span>
          @if(form.get('handle')?.hasError('required') &&
          form.get('handle')?.dirty) {
          <mat-error>{{
            "form.error.required"
              | translate : { field: ("form.signUp.handle" | translate) }
          }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            {{ "form.signUp.description" | translate }}
          </mat-label>
          <textarea
            matInput
            formControlName="description"
            type="text"
            placeholder="Enter your profile description"
          >
          </textarea>
        </mat-form-field>
        <button mat-stroked-button (click)="step = 2" class="my-2">
          {{ "button.next" | translate }}
        </button>
      </div>
      } @else {
      <div class="flex flex-col w-full gap-1">
        <p class="subtitle-2 text-center pb-4">
          {{ "form.signUp.step2" | translate }}
        </p>
        <mat-form-field appearance="outline">
          <mat-label>{{ "common.email" | translate }}</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Enter your email"
          />
          @if(form.get('email')?.hasError('required') &&
          form.get('email')?.dirty) {
          <mat-error>{{
            "form.error.required"
              | translate : { field: ("common.email" | translate) }
          }}</mat-error>
          } @if(form.get('email')?.hasError('email') &&
          form.get('email')?.dirty) {
          <mat-error>{{ "form.error.emailInvalid" | translate }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "common.password" | translate }}</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="Enter your password"
          />
          @if(form.get('password')?.hasError('required') &&
          form.get('password')?.dirty) {
          <mat-error>{{
            "form.error.required"
              | translate : { field: ("common.password" | translate) }
          }}</mat-error>
          } @if(form.get('password')?.hasError('minlength') &&
          form.get('password')?.dirty) {
          <mat-error>{{ "form.error.passwordLength" | translate }}</mat-error>
          }
        </mat-form-field>
        <button mat-stroked-button (click)="step = 1" class="my-2">
          {{ "button.back" | translate }}
        </button>
        <button mat-flat-button (click)="signUp()" [disabled]="!form.valid">
          {{ "button.signUp" | translate }}
        </button>
      </div>
      }
    </form>
    <div class="text-center pt-6">
      <p class="text-body-2 text-center bold">
        {{ "form.signUpMessage" | translate }}
      </p>
      <button
        class="px-2 text-body-2 text-catspace-orange hover:underline"
        (click)="login()"
      >
        {{ "button.login" | translate }}
      </button>
    </div>
  </div>
</div>
