<section class="hero-image">
  <div class="hero-content rounded-lg p-16 max-w-2xl">
    <h1>{{ "home.heroTitle" | translate }}</h1>
    <p
      class="subtitle-2 py-4"
      [innerHTML]="'home.heroSubtitle' | translate"
    ></p>
    <button mat-flat-button>{{ "button.createAccount" | translate }}</button>
  </div>
</section>
<section>
  <div
    class="flex flex-col justify-between items-center py-28 px-8 m-auto md:flex-row max-w-6xl"
  >
    <div class="basis-1/2 px-8 pb-4 md:pb-0">
      <img src="../../../assets/images/two-cats.png" alt="Cats" />
    </div>
    <div class="basis-1/2 px-8">
      <h2 class="pb-4">{{ "home.about" | translate }}</h2>
      <p class="pb-4">{{ "home.description1" | translate }}</p>
      <p class="pb-6">{{ "home.description2" | translate }}</p>
      <button mat-flat-button>{{ "button.createAccount" | translate }}</button>
    </div>
  </div>
</section>
<section>
  <div class="py-16 px-10 max-w-7xl m-auto">
    <h2 class="pb-8">{{ "home.featured" | translate }}</h2>
    <div class="flex justify-center items-center gap-6 flex-wrap">
      @for(profile of featured; track profile.id) {
      <app-profile-card [profile]="profile"></app-profile-card>
      }
    </div>
    <p
      class="text-body-1 pt-4 mr-2 text-catspace-orange text-right hover:cursor-pointer hover:underline"
    >
      Explore more profiles
    </p>
  </div>
</section>
