<mat-sidenav-container class="min-h-screen flex flex-col">
  <mat-sidenav
    #profileDrawer
    mode="over"
    position="end"
    [disableClose]="true"
    (openedChange)="onSidenavToggle($event)"
  >
    <app-user-sidenav (close)="profileDrawer.close()"></app-user-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="flex flex-col grow">
    <app-menu (open)="profileDrawer.open()"></app-menu>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
