@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/typographic.scss";
@import "./styles/theme";

html,
body {
  height: 100%;
}
body {
  @include typography-styles;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.material-icons.icon-16 {
  font-size: 16px;
}
.material-icons.icon-18 {
  font-size: 18px;
}
.material-icons.icon-20 {
  font-size: 20px;
}
.material-icons.icon-28 {
  font-size: 28px;
}
