@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/typographic.scss";
@import "./styles/theme";

html,
body {
  height: 100%;
}
body {
  @include typography-styles;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  @apply box-border;
}

.material-icons {
  &.icon-16 {
    @apply text-base;
  }
  &.icon-18 {
    @apply text-lg;
  }
  &.icon-20 {
    @apply text-xl;
  }
  &.icon-28 {
    @apply text-2xl;
  }
}

.material-symbols-outlined {
  &.icon-16 {
    @apply text-base;
  }
  &.icon-18 {
    @apply text-lg;
  }
  &.icon-20 {
    @apply text-xl;
  }
  &.icon-28 {
    @apply text-2xl;
  }
}

.mat-mdc-outlined-button .mdc-button__label {
  @apply text-catspace-brown;
}

.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  &.card-button {
    @apply h-7 text-caption p-0;
  }
}
