<nav aria-label="Main">
  <div
    class="bg-catspace-beige flex justify-between items-center h-28 px-4 md:px-8"
  >
    <div
      class="flex items-center hover:cursor-pointer md:w-16 lg:w-10"
      routerLink="/home"
      title="Home"
    >
      <span class="material-icons mr-2 icon-28">pets</span>
      <h2 class="mb-1">{{ "menu.catspace" | translate }}</h2>
    </div>

    <div class="inline-block md:hidden">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="mb-1">menu</mat-icon>
      </button>
    </div>

    <!-- Mobile menu -->
    <mat-menu #menu="matMenu">
      <ul>
        <li mat-menu-item routerLink="/featured">
          {{ "menu.featured" | translate }}
        </li>
        <li mat-menu-item routerLink="/cat-facts">
          {{ "menu.catFacts" | translate }}
        </li>
        <li mat-menu-item routerLink="/search">
          {{ "menu.search" | translate }}
        </li>
        <li mat-menu-item routerLink="/login">
          {{ "button.login" | translate }}
        </li>
      </ul>
    </mat-menu>

    <!-- Web menu -->
    <ul class="hidden md:flex md:gap-4 lg:gap-8">
      <li class="menu-item" routerLink="/featured" title="Featured">
        <p class="subtitle-1 pr-1">{{ "menu.featured" | translate }}</p>
        <span class="material-icons hidden lg:block">auto_awesome</span>
      </li>
      <li class="menu-item" title="Cat Facts">
        <p class="subtitle-1 pr-1">{{ "menu.catFacts" | translate }}</p>
        <span class="material-icons hidden lg:block"
          >local_fire_department</span
        >
      </li>
      <li class="menu-item" title="Search">
        <p class="subtitle-1 pr-1">{{ "menu.search" | translate }}</p>
        <span class="material-icons hidden lg:block">search</span>
      </li>
    </ul>
    <div class="hidden md:block">
      <button mat-flat-button>{{ "button.login" | translate }}</button>
    </div>
  </div>
</nav>
