<nav aria-label="main">
  <div
    class="bg-catspace-beige flex items-center justify-around h-28 px-4 md:px-8 lg:px-0"
  >
    <!-- Logo -->
    <div
      class="hover:cursor-pointer md:basis-1/4 max-w-[225px]"
      routerLink="/home"
      title="Home"
    >
      <img
        unpic
        priority
        src="https://res.cloudinary.com/dm1yyjg7i/image/upload/v1730658024/catspace/catspace-logo-lg_jxurk2.png"
        alt="catspace logo"
        class="w-[175px] md:w-[200px]"
      />
    </div>

    <!-- Web menu -->
    <div class="flex justify-center basis-2/4">
      <ul class="hidden md:flex md:gap-4 lg:gap-10">
        <li class="menu-item" routerLink="/home" title="Home">
          <p class="subtitle-1 pr-1">{{ "menu.home" | translate }}</p>
          <span class="material-icons hidden icon-18 lg:block">home</span>
        </li>
        <li class="menu-item" routerLink="/featured" title="Featured">
          <p class="subtitle-1 pr-1">{{ "menu.featured" | translate }}</p>
          <span class="material-icons hidden icon-18 lg:block">star</span>
        </li>
        @if(isLoggedIn()){
        <li class="menu-item" title="Following">
          <p class="subtitle-1 pr-1">{{ "menu.following" | translate }}</p>
          <span class="material-icons hidden icon-18 lg:block">pets</span>
        </li>
        <li class="menu-item" title="My Page">
          <p class="subtitle-1 pr-1">{{ "menu.myPage" | translate }}</p>
          <span class="material-icons hidden icon-18 lg:block">person</span>
        </li>
        }
      </ul>
    </div>

    <div class="items-center justify-end gap-4 hidden md:flex w-[225px]">
      @if(isLoggedIn()) {
      <span class="material-symbols-outlined">notifications</span>
      <button
        class="rounded-full bg-catspace-brown w-8 h-8"
        (click)="open.emit()"
      ></button>

      <button mat-stroked-button (click)="logout()">
        {{ "button.logout" | translate }}
      </button>
      } @else {
      <button mat-stroked-button (click)="openDialog('signUp')">
        {{ "button.signUp" | translate }}
      </button>
      <button mat-flat-button (click)="openDialog('login')">
        {{ "button.login" | translate }}
      </button>
      }
    </div>

    <!-- Mobile menu -->
    <div class="inline-block md:hidden">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="mb-1">menu</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <ul>
      <li mat-menu-item routerLink="/home">
        {{ "menu.home" | translate }}
      </li>
      <li mat-menu-item routerLink="/featured">
        {{ "menu.featured" | translate }}
      </li>
      @if(isLoggedIn()) {
      <li mat-menu-item>
        {{ "menu.following" | translate }}
      </li>
      <li mat-menu-item>
        {{ "menu.myPage" | translate }}
      </li>
      <li mat-menu-item>
        {{ "menu.notifications" | translate }}
      </li>
      <li mat-menu-item>
        {{ "menu.account" | translate }}
      </li>
      <li mat-menu-item>
        <button (click)="logout()">
          {{ "button.logout" | translate }}
        </button>
      </li>
      } @else {
      <li mat-menu-item>
        <button (click)="openDialog('signUp')">
          {{ "button.signUp" | translate }}
        </button>
      </li>
      <li mat-menu-item>
        <button (click)="openDialog('login')">
          {{ "button.login" | translate }}
        </button>
      </li>
      }
    </ul>
  </mat-menu>
</nav>
